In [1]:
#libraries
import pandas as pd
import sys 
from imblearn.over_sampling import SMOTE
import seaborn as sns # used for plot interactive graph. 
import numpy as np # linear algebra
from scipy.stats import randint
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt # this is used for the plot the graph 
%matplotlib inline
plt.rcParams["figure.figsize"] = [12, 7]

In [2]:
# data = pd.read_csv("wh.csv")
# data = data.drop(['Formatted Date','Summary','Daily Summary','Loud Cover'],axis=1)
# data['precip'] = np.where(data['Precip Type']!= 'snow', 1, 0)
# data = data.drop(['Precip Type'],axis=1)
# msk = np.random.rand(len(data)) < 0.8

# train = data[msk]

# test = data[~msk]

In [3]:
# #this block will generate test and training data
# #importing the dataset
# data = pd.read_csv("wh.csv")
# data = data.drop(['Formatted Date','Summary','Daily Summary','Loud Cover'],axis=1)
# data['precip'] = np.where(data['Precip Type']!= 'snow', 1, 0)
# #smote (Synthetic minority oversampling technique)
# X = np.array(data.drop(['Precip Type','precip'],axis=1)) #independent variable
# Y = np.array(data['precip']) #target variable
# trainx1, testx, trainy1, testy = train_test_split(X, Y, test_size=0.4, random_state=1999)
# print("After OverSampling, counts of label '1': {}".format(sum(trainy1==1)))
# print("After OverSampling, counts of label '0': {} \n".format(sum(trainy1==0)))
# #Sampling the dataset
# sm = SMOTE(random_state=1999)
# trainx,trainy = sm.fit_sample(trainx1, trainy1.ravel())
# print("After OverSampling, counts of label '1': {}".format(sum(trainy==1)))
# print("After OverSampling, counts of label '0': {} \n".format(sum(trainy==0)))
# traincol_names = data.drop(['Precip Type','precip'],axis=1).columns
# trainx = pd.DataFrame(data=trainx, columns=traincol_names)
# trainy = pd.DataFrame(data=trainy, columns=['Precip Type'])
# testx = pd.DataFrame(data=testx, columns=traincol_names)
# testy = pd.DataFrame(data=testy, columns=['Precip Type'])

# trainx.to_csv('trainx.csv');
# trainy.to_csv('trainy.csv');
# testx.to_csv('testx.csv');
# testy.to_csv('testy.csv');

In [2]:
#this block will generate test and training data
#importing the dataset
data = pd.read_csv("wh.csv")
data = data.drop(['Formatted Date','Daily Summary','Loud Cover','Precip Type'],axis=1)
# data['precip'] = np.where(data['Precip Type']!= 'snow', 1, 0)
# data = data.drop(['Precip Type'],axis=1);

In [3]:
data['Summary'].value_counts()

Partly Cloudy                          31733
Mostly Cloudy                          28094
Overcast                               16597
Clear                                  10890
Foggy                                   7148
Breezy and Overcast                      528
Breezy and Mostly Cloudy                 516
Breezy and Partly Cloudy                 386
Dry and Partly Cloudy                     86
Windy and Partly Cloudy                   67
Light Rain                                63
Breezy                                    54
Windy and Overcast                        45
Humid and Mostly Cloudy                   40
Drizzle                                   39
Windy and Mostly Cloudy                   35
Breezy and Foggy                          35
Dry                                       34
Humid and Partly Cloudy                   17
Dry and Mostly Cloudy                     14
Rain                                      10
Windy                                      8
Humid and Overcast                         7
Windy and Foggy                            4
Windy and Dry                              1
Dangerously Windy and Partly Cloudy        1
Breezy and Dry                             1
Name: Summary, dtype: int64

In [4]:
counts = data['Summary'].value_counts()

data = data[~data['Summary'].isin(counts[counts < 7000].index)]

In [5]:
data['Summary'].value_counts()

Partly Cloudy    31733
Mostly Cloudy    28094
Overcast         16597
Clear            10890
Foggy             7148
Name: Summary, dtype: int64

In [6]:
label_map = {
    'Partly Cloudy': 1,
    'Mostly Cloudy': 2,
    'Overcast':3 ,
    'Clear': 4,
    'Foggy': 5,
    'Breezy and Overcast': 6,
    'Breezy and Mostly Cloudy': 7,
    'Breezy and Partly Cloudy': 8,
}
data['summary'] = data['Summary'].map(label_map)

In [7]:
data['summary'].value_counts()

1    31733
2    28094
3    16597
4    10890
5     7148
Name: summary, dtype: int64

In [8]:
#splitting data for training and testing
X = np.array(data.drop(['Summary','summary'],axis=1)) #independent variable
Y = np.array(data['summary']) #target variable
trainx, testx, trainy, testy = train_test_split(X, Y, test_size=0.4, random_state=333)

traincol_names = data.drop(['Summary','summary'],axis=1).columns
trainx = pd.DataFrame(data=trainx, columns=traincol_names)
trainy = pd.DataFrame(data=trainy, columns=['summary'])
testx = pd.DataFrame(data=testx, columns=traincol_names)
testy = pd.DataFrame(data=testy, columns=['summary'])

In [9]:
trainx.to_csv('trainx.csv');
trainy.to_csv('trainy.csv');
testx.to_csv('testx.csv');
testy.to_csv('testy.csv');

In [11]:
# normalized
trainx

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Pressure (millibars)
0,14.727778,14.727778,0.56,12.4936,151.0,16.1000,1009.03
1,6.333333,4.577778,0.85,8.5813,145.0,11.4471,1006.98
2,5.394444,3.055556,0.90,10.4006,296.0,15.1823,1004.15
3,15.000000,15.000000,0.87,5.7960,189.0,15.8746,1017.15
4,0.000000,-2.733333,0.69,8.0500,340.0,9.9820,1029.00
...,...,...,...,...,...,...,...
56672,3.150000,-0.294444,0.96,13.7172,159.0,6.7942,1006.95
56673,6.038889,3.122222,0.65,14.5061,291.0,9.9820,1006.86
56674,18.800000,18.800000,0.76,11.4310,275.0,13.7816,1013.85
56675,19.811111,19.811111,0.62,8.5491,200.0,11.4471,1009.10
56676,-0.138889,-2.411111,0.77,6.6332,344.0,11.9140,1025.02